@import '_global';
@import '_reset';
@import '_libs';

.shop_logo-img{
  width: 500px;
  margin: 50px auto;
  z-index: 2;
}

.items-block{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__item{
    position: relative;
    border: 1px solid #cccccc;
    width: 480px;
    height: 635px;
  }

  &__item img{
    width: 100%;
    max-height: 635px;
  }
}

.items-block__item:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  opacity: 0;
  transition: all 0.2s ease-in;
}

.items-block__item:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/to_like.png") no-repeat center;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.items-block__item.liked:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/liked_br.png") no-repeat center;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.items-block__item:hover:before,
.items-block__item:hover:after { 
  opacity: 1;
}

// .items-block__item:hover{
//   filter: brightness(0.4);
// }