.container{
    width: 740px;
    height: 615px;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    background: black;
    }
.form-box {
    width: 600px;
    height: 497px;
    position: relative; 
    margin: 20% auto; 
    background: #FFFFFF;
    border-radius: 60px;
    }
.form-box1 {
    width: 600px;
    height: 415.14px;
    position: relative; 
    margin: 20% auto;
    background: #FFFFFF;
    border-radius: 60px;
    }
.group{ 
    padding-top: 44.59px;
    background: transparent;
    position: absolute;   
    width: 499.45px;
    height: 326.76px;
}
.group1{ 
    padding-top: 44.59px;
    background: transparent;
    position: relative;   
    width: 499.45px;
    height: 408.76px;   
}
.form-control{
    background:  #DDDDDD;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    height: 56.76px;
    width: 499.46px;
 }
.toggle-btn {
    padding: 27px;
    font-size: 30px;
    cursor: pointer;
    width: 50%;
    color: black;
    background: white; 
    outline: none;
    border: none;
    border-radius: 60px 60px 0 0;
    }    
.btn-box{   
    border-radius: 60px 60px 0 0;
    background-color: #DDDDDD;
    position: relative;
    display: flex;
    justify-content: center;    
    height: 88.38px;
}
.btn.btn-success{
    display: block;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    width: 376px;   
    height: 63.24px;
    background: transparent;
    border: solid 7px;
    border-color:#FFE175;
    color:black;
    border-radius: 90px;
}
.btn.btn-success1{
    display: block;
    margin: 15px auto;
    text-align: center;
    font-size: 20px;
    font-weight:bolder;
    width: 189px;   
    height: 63.24px;
    background: transparent;
    border: solid 7px;
    border-color:#FFE175;
    border-radius: 90px;
}
#log{
    left: 50px;
}
#reg{
    left: 50px;
}